/**
 * Base styles.
 */

html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1em;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body,
div,
output {
    border: 0;
    margin: 0;
    padding: 0;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-transform: none;
    -webkit-appearance: button;
}

button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring {
    outline: 1px dotted ButtonText;
}


/**
 * Calculator styles.
 */

.calculator {
    display: flex;
    flex-wrap: wrap;
    font-size: 6vmin;
}

.calculator__output-screen {
    align-items: flex-end;
    background-color: #eee;
    display: flex;
    flex-basis: 100vw;
    font-size: 10vmin;
    height: 10vh;
    justify-content: flex-end;
    padding-right: 1vw;
}

.calculator__keypad {
    display: flex;
    height: 90vh;
}

.calculator__keypad--numbers {
    background-color: #2d2d2d;
    flex-basis: 90vw;
    flex-wrap: wrap;
}

.calculator__keypad--operators {
    background-color: #c23946;
    flex-basis: 10vw;
    flex-direction: column;
}

.calculator__keypad button {
    color: #fff;
    display: block;
}

.calculator__keypad--numbers button {
    width: 30vw;
}

.calculator__keypad--operators button {
    height: 15vh;
}
